:root {
    --bkg-color: #3e3e3e99;
    --font-color: #e0def4;
    --font-size: 0.85rem;
    --link-color: #c4a7e7;
    --border-color: #524f67;
    --border: 0.2rem;
    --drop-shadow: 0.7rem;
    --header-padding: 0.1rem;
    --padding: 1.5rem;
}
