html {
    color: var(--font-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-size);
    text-align: center;
    text-transform: lowercase;
}

h1 {
    font-style: oblique;
}

a {
    color: var(--link-color);
    text-decoration: none;
}