html {
    color: var(--font-color);
    font-family: MS Gothic, monospace;
    font-size: var(--font-size);
    text-align: center;
    text-shadow: 1px 1px 2px var(--font-color);
    text-transform: lowercase;
}

h1 {
    color: var(--h1-color) !important;
    font-style: italic;
    font-weight: 10;
    text-align: center;
}

h1, h2, h3 {
    padding: var(--header-padding);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    font-size: 1.3rem;
}