@import url(vars.css);

@import url(fonts.css);

html,
body {
    margin: 0;
    padding: none;
    height: 100%;
    background-color: var(--bkg-color);
}

.bkg {
    @supports (
        background-image:
            url("data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAG1pZjFoZGxyAAAAA...")
    ) {
        .bg {
            background-image: url("https://cdn.jsdelivr.net/gh/luvily-autumn/assets@compressed/img/background.f4d522a8.avif");
        }
    }

    @supports (
        background-image:
            url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4TAYAAAAvAAAAAAfQ//73v/+BiOh/AAA=")
    ) {
        .bg {
            background-image: url("https://cdn.jsdelivr.net/gh/luvily-autumn/assets@compressed/img/background.f4d522a8.webp");
        }
    }

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

main {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bkg-color);
    border: 2.5px var(--border-color) solid;
    width: 45%;
}

.left {
    float: left;
    padding-right: 10px;
    margin-left: 5%;
    padding-bottom: 40px;
}

.right {
    float: right;
    padding-left: 10px;
    margin-right: 5%;
    padding-bottom: 40px;
}

.right img {
    height: 30vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}