@import url(vars.css);
@import url(fonts.css);

html {
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
}

main {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3e3e3e99;
    border: 2.5px white solid;
}