:root {
    --site-width: 50%;
    --aside-width: 40%;
    --bkg-color: #191724;
    --main-bkg: #1f1d2e;
    --header-color: #26233a;
    --font-color: #e0def4;
    --font-size: 0.9rem;
    --h1-color: #ebbcba;
    --link-color: #c4a7e7;
    --border-color: #524f67;
    --border: .2rem;
    --drop-shadow: .7rem;
    --header-padding: .1rem;
    --padding: 1.5rem;
}